<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="郑茁,日记,博客,柿竹园">
    <meta name="description" content="记录每天的生活">
    <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap-4.4.1-dist/css/bootstrap.min.css}"/>
    <script th:src="@{/bootstrap-4.4.1-dist/js/bootstrap.min.js}"></script>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/img/favicon.ico}"/>
    <title>文章管理</title>
    <style>
        .logut {
            float: right;
            position: relative;
            top: 50%;
            transform: translate(-10%, -50%);
        }

        .add-btn{
            margin: 8px;
        }
    </style>
</head>
<body>
<div class="header" id="top">
    <a th:href="@{/}">郑茁的官方网站</a>
    <button type="button" class="btn btn-danger logut" onclick="logout()">登 出</button>
</div>
<div class="table-responsive">
    <button type="button" class="btn btn-primary add-btn" onclick="add()">发表文章</button>
    <table class="table" id="userTable">
        <tr>
            <th>标题</th>
            <th>操作</th>
        </tr>
        <tr th:each="item : ${articles}">
            <td>
                <a th:href="@{/admin/edit/} + ${item.id}" th:text="${item.title}"></a>
            </td>
            <td>
                <a href="javascript:void(0)" th:onclick="deleteArticle([[${item.id}]])">删除</a>

            </td>
        </tr>
    </table>
</div>
<script th:inline="javascript">

    function logout() {
        window.location.href = "/logout"
    }

    function add() {
        window.location.href = "/admin/add";
    }

    function deleteArticle(id) {
        var flag = window.confirm('确定删除?')
        if (flag) {
            window.location.href = '/admin/delete/' + id
        }
    }

    function edit(id){
        window.location.href = '/admin/edit/' + id
    }
</script>
</body>
</html>